
<!--<footer style="padding-top: 1.5rem; border-top: 0.05rem solid #e5e5e5">-->
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-10 offset-xl-1">
        <footer>
            <p class="text-muted small pull-right">&copy; X-Vision 2023</p>
            <div  class="pull-left small">
                <p class="text-left"> 
                    For any queries please email us at: 
                    <a href="mailto:{{ site.data.conference.email }}">
                        <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i> 
                        {{ site.data.conference.email }}
                    </a>
                </p>
            </div>
        </footer>
        </div>
    </div>
