<form id="fs-frm" name="registration-form" accept-charset="utf-8" action="https://formspree.io/f/mqknrzzd" method="post">
  <fieldset id="fs-frm-inputs">
    <label for="full-name">Full Name</label>
    <input type="text" name="name" id="full-name" placeholder="First and Last" required="true">
    <label for="email-address">Email Address</label>
    <input type="email" name="_replyto" id="email-address" placeholder="email@gmail.com" required="true">
   <fieldset>   
   <label for="gender">Gender</label> 
   <select name="gender" required="">
   <option value="" selected="" disabled="">Please Select one Option</option>
   <option value="male">Male</option>
   <option value="female">Female</option>
   <option value="postdoc">Other</option>
   <option value="donot">Don't want to Reveal</option>
  </select> 
      
  <label for="career">Career Stage</label> 
  <select name="career" required="">
  <option value="" selected="" disabled="">Plese Select one Option</option>
  <option value="MSc">M.Sc.</option>
  <option value="PhD">Ph.D.</option>
  <option value="postdoc">Post-Doctoral Fellow</option>
  <option value="youngRes">Young Researcher [below 3 years]</option>
  <option value="SeniorRes">Senior Researcher [above 3 years]</option>
  </select>   </fieldset>  
  <label for='afflil'>Current Affiliation</label>
   <input type='text' name='affiliation' id='affil'> 
    <label for="street-address">Street Address</label>
    <input type="text" name="street" id="street-address" placeholder="Street" required="">
    <fieldset class="locale">
    <legend>Locale</legend>
    <input type="text" name="city" placeholder="City" required="">
    <input type="text" name="state" placeholder="State" required="">  
    <input type='text' name="country" id="country" placeholder="Country" required="">  
    <input type="text" name="postal-code" placeholder="PIN" required="">
    </fieldset>
    <label for="cv">CV</label>    
    <input type="file" name="attachment" accept="image/png, image/jpeg, pdf, image/jpg">
    
    <label for="motilettr">Letter of Motivation</label>  
    <p style="font-size:12px;color:gray;">A letter of motivation describing how this worshop shall help you in your research career. The letter should have no more than 800 words.</p>  
    <input type="file" name="MotivLetter" id="motilettr" accept="image/png, image/jpeg, pdf, image/jpg">
     
    <label for="recName">Name of Referee(s)</label>
   <p style="font-size:12px;color:gray;">At least one reference letter from supervisor and/or head of the department should be sent directly to "xrayvision2023@gmail.com". The reference letters recieved by 10 September 2022 shall be considered.</p>    
    <input type='text' name="recName" id="recName">
    <label for="diet">Dietary Restrictions</label> 
      <p style="font-size:12px;color:gray;">Please mention the food allergies, if any</p>
    <input type='text' name='diet' id="diet" placeholder="Vegan/Vegetarian/Other">  
    <label for="note">Note</label>
    <textarea rows="3" name="note" id="note" placeholder="Include any additional information"></textarea>
    <input type="hidden" name="_subject" id="email-subject" value="Registration Form Submission">
  </fieldset>
  <input type="submit" value="Register">
</form>
